.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: none;
  gap: 50px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}

.site-nav__item {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-color-dark;
}

.site-nav__link {
  display: flex;
  padding: 32px 0;
  transition: color $primary-transition-time $primary-cubic-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.contacts__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link {
  display: flex;
  padding: 32px 0;
  transition: color $primary-transition-time $primary-cubic-function;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0;
    font-size: 12px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
