.hero {
  width: 100%;
  background-color: var(--accent-bgc);
  padding: 118px 0px;
  text-align: center;
  background-image: $hero-gradient, url(../images/hero-mob.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: $hero-gradient, url(../images/hero-mob_2x.jpg);
  }

  @media screen and (min-width: $tablet-width) {
    background-image: $hero-gradient, url(../images/hero-tab.jpg);

    @include retina {
      background-image: $hero-gradient, url(../images/hero-tab_2x.jpg);
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding: 200px 0px;
    background-image: $hero-gradient, url(../images/hero.jpg);

    @include retina {
      background-image: $hero-gradient, url(../images/hero_2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-color-light;
  max-width: 696px;
  margin: 0 auto 30px;

  @media screen and (min-width: $desktop-width) {
    font-size: 44px;
    line-height: 1.36;
  }

  &::after {
    width: 10px;
    height: 10px;
    background-color: red;
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 24px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: $desktop-width) {
    padding: 10px 32px;
  }
}
