.logo__accent {
  color: $accent-color;
}

.header__logo {
  @extend %logo;
  margin-right: 0;
  padding: 15px 0;

  color: black;

  @media screen and (min-width: $tablet-width) {
    margin-right: 87px;
    padding: 24px 0 25px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-right: 93px;
  }
}

.footer__logo {
  @extend %logo;
  display: inline-block;
  color: $main-color-light;
  margin-bottom: 20px;
}
